*{
    margin: 0%;
   padding: 0%;
}


body{
    background-color: rgb(25, 8, 52);
     color: white;
     font-family: 'poppins',sans-serif
}
nav{
display: flex;
justify-content:space-around;
align-items: center;
height: 80px;
background-color: rgb(39, 101, 188);
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style:none ;
    margin: 0 23px ;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(5, 5, 30);
    font-size: 1.01rem;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}
.left{
    font-size: 1.5rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;
}
.firstsection > div{
    width: 30%;
}
.leftsection{
    
    font-size: 3rem;
    
}
.rightsection img{ 
    width: 90%;
    margin: 60px 0;}
    .purple{
        color: rgb(150, 193, 236);
    } 
    .text-gray{
        color:rgb(123, 108, 108) ;
    }
    #element{
        color: rgb(150, 186, 237);
    }
    .secondsection{
        height: 90%;
    }
  
     .text-box h1{
        margin: 70px 0;
        font-size: 30px;
        font-style: 'poppins';
        font-weight: 10px;
        color: #9c97f1;
        
    }
    #img1{
        margin: 60px;
        padding: 10px;
        height: 500px;
        width: 335px;
        float: left;
        object-fit: cover;
      

    }
.text-box h2{
       margin: 30px 0;
        font-size: 20px;
        font-style: 'poppins';
        font-weight: 5px;
        color: #b6b5c9;
}
.text-box p{
    font-size: 15px;
    font-style: 'poppins';
    font-weight: 5px;
    color: #b6b5c9;
}
